.accordion {
    border: 1px solid #ababab;
    background-color: #ffffff;
    spacing: 0;
    height: auto;
    width: auto;
}

.accordion-button {
    background-color: #e2e2e2;
    border-radius: 0px;
    border: 0px solid #e2e2e2;
    icon: "material/images/arrowRightBlack.png";
    width: 100%;
}

.accordion-button:down {
    background-color: #4766cc;
    color: #ffffff;
    icon: "material/images/arrowDownWhite.png";
}

.accordion-button:hover {
    background-color: #4766cc;
    color: #ffffff;
    icon: "material/images/arrowRightWhite.png";
}

.accordion-page {
    width: 100%;
    clip: true;
    opacity: 1;
    padding: 5px;
}

.accordion-page:expanded {
    animation: accordionAnimateExpand 0.3s ease 0s 1;
}

.accordion-page:collapsed {
    animation: accordionAnimateCollpase 0.3s ease 0s 1;
}

@keyframes accordionAnimateExpand {
    0% {
        opacity: 0;
        height: 0%;
    }
    100% {
        opacity: 1;
        height: 100%;
    }
}

@keyframes accordionAnimateCollpase {
    0% {
        opacity: 1;
        height: 100%;
    }
    100% {
        opacity: 0;
        height: 0%;
    }
}
