/*******************************************************************/
/* CHECKBOXES                                                      */
/*******************************************************************/
.checkbox {
    height: auto;
    width: auto;
    horizontal-spacing: 4px;
    cursor: pointer;
}

.checkbox .checkbox-value {
    border-radius: 3px;
    border-color: #4766cc;
    border: 2px solid;
    background: #fafafa;
    vertical-align: center;
    width: 16px;
    height: 16px;
}

.checkbox .checkbox-value:selected {
    icon: "material/images/tickblue.png";
}

.checkbox .checkbox-value:hover {
    background: #b9b9b9;
}

.checkbox-icon {
    horizontal-align: center;
    vertical-align: center;
    cursor: pointer;
}

/*******************************************************************/
/* VARIANTS                                                        */
/*******************************************************************/

.checkbox.white-tick .checkbox-value:hover {
    icon: "material/images/tickwhite.png";
}

.checkbox.shadow .checkbox-value {
    filter: drop-shadow(3, 45, #000000, 0.3, 2, 2, 1, 3, true);
}

.checkbox.shadow-fill .checkbox-value:selected {
    background: #4766cc;
    icon: "material/images/tickwhite.png";
}

.checkbox.fill .checkbox-value:selected {
    background-color: #4766cc;
    icon: "material/images/tickwhite.png";
}